section {
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.notification {
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.notification:hover {
    background-color: navy;
    color: white;
    cursor:  default;
}
.card {
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.card:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 2px 2px 5px grey;
            box-shadow: 2px 2px 5px grey;
    cursor:  default;
}